html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------- end reset --------- */


body {
    color: #444;
    font-size: 62.5%;
    line-height:2.56em;
    margin: 0px auto 0px auto;
    width: 720px;
    font-family: 'Lora', serif;
    text-align: justify;
}

p, ul, ol {
    font-size: 2.16em;
    line-height:1.6em;
    margin: 1em 0;
}

.post-row p {
    color: #777;
    font-size: 0.9em;
    line-height:0.6em;
    padding: 0;
    margin: 0.25em 0 1.2em 0;
    font-style:italic;
}


strong {
    font-weight: 600;
}

em, i {
    font-style: italic;
}

#content a:link, #content a:visited {
    color: inherit; 
}

#content a:hover, #content a:active {
    padding: 2px 0px;
    background-color: #F7F7FF;
    color: #06287e;
    border-radius: 4px;
}

div#header {
    border-bottom: 2px solid #888;
    margin-bottom: 20px;
    padding: 12px 0px 7px 0px;

    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    font-size: 1.76em;
    line-height: 1em;
    color: #888;
}

div#logo a {
    color: inherit;
    float: left;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
    color: inherit;
}

div#header #navigation a {
    color: inherit;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px #888;
    color: #555;
    font-size: 1.2em;
    line-height: 1em;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

div#footer a {
    color: inherit;
}

div.footnotes p {
    font-size: 0.85em;
    line-height:1.6em;
}

#content h1 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    font-size: 7.3em;
    line-height: 1.2em;
    color: #191C46;
    margin-top: 0.2em;
    margin-bottom: 0;
    padding-bottom: 0;

}

#content h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    font-size: 4.86em;
    line-height: 1.2em;
    color: #222;
}

#content h3 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    line-height: 1.2em;
    font-size: 3.24em;
    color: #222;
}

div.info {
    color: #555;
    font-size: 1.6em;
    font-style: italic;
    margin-bottom: 3.1em;
}

sub, sup {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 75%;

  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline;

  background-color: #F7F7FF;
  color: #06287e;
}

sup {
  /* Move the superscripted text up */
  top: -0.8em;
}

sub {
  /* Move the subscripted text down, but only
     half as far down as the superscript moved up */
  bottom: -0.4em;
}