body {
    color: #444;
    font-size: 62.5%
    line-height:1.6em;
    margin: 0px auto 0px auto;
    width: 720px;
    font-family: 'Lora', serif;
    text-align: justify;
}

p {
    font-size: 1.35em;
    line-height:1.6em;
}

a:link, a:visited {
    color: inherit;
}

a:hover, a:active {
    padding: 2px 0px;
    background-color: #F7F7FF;
    color: #06287e;
    border-radius: 4px;
}

div#header {
    border-bottom: 2px solid #888;
    margin-bottom: 30px;
    padding: 12px 0px 7px 0px;

    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1em;
    color: #888;
}

div#logo a {
    color: inherit;
    float: left;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
    color: inherit;
}

div#header #navigation a {
    color: inherit;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    font-size: 4.566em;
    line-height: 1.2em;
    color: #222;
}

h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    font-size: 3.038em;
    line-height: 1.2em;
    color: #222;
}

h3 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    line-height: 1.2em;
    font-size: 2.025em;
    color: #222;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
