table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }

td.lineNumbers {
    border-right: 1px solid #AAAAAA;
    text-align: right;
    color: #AAAAAA;
    padding-right: 5px;
    padding-left: 5px;
    font-family: Inconsolata, Menlo, Monaco, Consolas, "Courier New", monospace;
}

td.sourceCode {
    padding-left: 5px;
}

pre {
    margin: 0.4em 0 0.4em;
}
.sourceCode {
    line-height: 1.3em;
    font-size: 1em;
    background-color: #F7F7FF;
}
.sourceCode span.kw { color: #007020; font-weight: bold; }
.sourceCode span.dt { color: #902000; }
.sourceCode span.dv { color: #40a070; }
.sourceCode span.bn { color: #40a070; }
.sourceCode span.fl { color: #40a070; }
.sourceCode span.ch { color: #4070a0; }
.sourceCode span.st { color: #4070a0; }
.sourceCode span.co { color: #60a0b0; font-style: italic; }
.sourceCode span.ot { color: #007020; }
.sourceCode span.al { color: red; font-weight: bold; }
.sourceCode span.fu { color: #06287e; }
.sourceCode span.re { }
.sourceCode span.er { color: red; font-weight: bold; }
div.sourceCode { border: #ccc solid 1px;
                 padding-left: 5px;
                 padding-right: 5px;
                 margin-bottom: 1.2em;
               }
code {
  font-family: Inconsolata, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p code {
    padding: 2px 4px;
    font-size: 1.0em;
    color: #191C46;
    background-color: #F7F7FF;
    border-radius: 4px;
}