<div itemscope itemtype="http://schema.org/BlogPosting">
    <h1 itemprop="headline name">$title$</h1>

    <div class="info">
      <time itemprop="datePublished" datetime="$isoDate$">Posted on $date$</time>
      <div itemscope itemprop="author creator editor">
        $if(author)$
            by <span itemprop="name">$author$</span>
        $else$
            <meta itemprop="name" content="Sebastian Galkin"/>
        $endif$
      </div>

      $if(description)$
        <meta itemprop="description" content="$description$"/>
      $endif$

    </div>
    <div itemprop="articleBody">
      $body$
    </div>
</div>
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
$if(disqusUrl)$
this.page.url = "$disqusUrl$";
$endif$
$if(disqusId)$
this.page.identifier = "$disqusId$";
$endif$
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//blogsebastiangalkincom.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
