<ul>
    $for(posts)$
        <li class="post-row" itemscope itemtype="http://schema.org/Article">

          <a href="$url$">
              <span itemprop="headline name">$title$</span>
          </a>

          <span itemscope itemprop="author publisher">
            <meta itemprop="name" content="Sebastian Galkin"/>
          </span>

          <p>
            <time itemprop="datePublished dateModified" datetime="$isoDate$">$date$</time>
            &mdash;
            $if(description)$
            <span class="post-descr" itemprop="description">
                $description$
            </span>
            $endif$
          </p>

        </li>
    $endfor$
</ul>
